<!DOCTYPE html>
<html>
    <head>
        <title>
            Task List
        </title>
    </head>
    <body>
        <h1>
            Creaate Task
        </h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Add Task</button>
        </form>

        <h2>
            My Tasks
        </h2>
        <ul>
    {% for task in tasks %}
        <li>
            {{ task.title }} - {% if task.completed %}✅{% else %}❌{% endif %}
            [<a href="{% url 'edit_task' task.pk %}">Edit</a>]
            [<a href="{% url 'delete_task' task.pk %}">Delete</a>]
        </li>
    {% empty %}
        <li>No tasks yet.</li>
    {% endfor %}
</ul>
    </body>
</html>